.App {
  font-family: sans-serif;
  text-align: center;
}

div {
}

#todo_list {
  display: grid;
  grid-template-columns: 80%;
  grid-auto-rows: 50px;
  text-align: center;
  font-size: 30px;
}

button {
  font-size: 20px;
}

input {
  font-size: 20px;
}
